body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#gameState{
    text-align: center;
}
.humanChoice, .computerChoice{
    font-weight: bold;
}